events {}
stream {
  
  map $ssl_preread_server_name $targetBackend {
    $TARGET_HOST  $TARGET_HOST;
    default example.com;
  }

  server {
    listen    $SOURCE_PORT;
    proxy_pass $targetBackend:$TARGET_PORT;
    resolver $DNS_SERVER;
    ssl_preread on;
  }
}